apiVersion: v1
kind: ImageStream
metadata:
  labels:
    app: {{ openshift_client_distributor_name }}
  name: {{ openshift_client_distributor_name }}
  namespace: {{ openshift_client_distributor_namespace }}
spec:
  lookupPolicy:
    local: false
status:
  dockerImageRepository: docker-registry.default.svc:5000/{{ openshift_client_distributor_namespace }}/{{ openshift_client_distributor_name }}