apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{openshift_client_distributor_name }}
  namespace: {{openshift_client_distributor_namespace }}
  labels:
    app: {{openshift_client_distributor_name }}